/* Developed by Prakhar Srivastav - 264/48 [http://www.github.com/prakhar1989] */
body {
    background: url('/static/img/denim.png');
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
}

h1 {
    margin-bottom: 17px;
}
.navbar-inner {
    background: #2C2C2C;
}


.mast_head {
    background: #2ba6cb;
    color: white;
    height: 100px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.mast_head h1 {
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 10px;
}

footer {
    background: #2C2C2C;
    padding: 8px;
    text-align: center;
    color: whiteSmoke;
    margin-top: 40px;
}

#sidemenu{
    margin-right: 30px;
}
#VerColMenu, #VerColMenu ul
{
	list-style : none;
    margin: 0px;
}
#VerColMenu a
{
    background: #F2F2F2;
    color: #555;
    border: none;
    height: auto;
	display : block;
	padding : 15px 20px;
	text-decoration: none;
    border-width: 1px 1px 0 0;
    border-left: 4px solid #4d4d4d;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    
}
#VerColMenu a:hover
{
    background: #e1e1e1;
    color: #555;
    
}
#VerColMenu ul a
{
	background : #2ba6cb;
	color : white;
    border: 0px;
}

